body{
    background-color: black;
    
    
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mesas{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
}
.mesa{
    color: aliceblue;
}
.conteiner{
    display: flex;
}
.precio{
    list-style-type: none;
    color: rgb(226, 128, 128);
    font-weight: bold;
}
